<!-- sidebar.component.html -->
<nav class="sidebar">
  <ul>
    <li >
      <div>
        <i class="pi pi-microsoft text-2xl mr-2"></i>
        <a routerLink="/mantenimiento/dashboard" routerLinkActive="active">Dashboard</a>
      </div>
    </li>
    <li >
      <div>
        <i class="pi pi-box text-2xl mr-2"></i>
        <a routerLink="/mantenimiento/categoria" routerLinkActive="active">Categorias</a>
      </div>
    </li>
    <li >
      <div>
        <i class="pi pi-book text-2xl mr-2"></i>
        <a routerLink="/mantenimiento/producto" routerLinkActive="active">Productos</a>
      </div>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>

  