



  .input-barras{
    width: 60%;
  }


  

  @media (max-width: 1385px) {
    .codigobarra{
        display: flex;
        flex-direction: column;
    }
    .input-barras{
      width: 100%;
    }
  }

  @media (max-width: 765px) {
    .codigobarra{
        display: flex;
        flex-direction: row;
    }
    .btn-gc
    {
     padding-top: 2rem;
    }
    
  }


  @media (max-width: 420px) {
    .codigobarra{
        display: flex;
        flex-direction: column;
    }
    .btn-gc
    {
      padding-top: 2rem;
    }
  }

  