@import 'primeflex/primeflex.scss';



  .input-barras{
    width: 60%;
  }

  /*-----Contenedor de formulario--------*/
  .ctn-formulario{
    @apply field col-12 md:col-6;
  }

  /*-----------*/
  

  @media (max-width: 1385px) {
    .codigobarra{
        display: flex;
        flex-direction: column;
    }
    .input-barras{
      width: 100%;
    }
  }

  @media (max-width: 765px) {
    .codigobarra{
        display: flex;
        flex-direction: row;
    }
    .btn-gc
    {
      @apply mt-2;
    }
    
  }


  @media (max-width: 420px) {
    .codigobarra{
        display: flex;
        flex-direction: column;
    }
    .btn-gc
    {
      @apply mt-2;
    }
  }

  